In [1]:
##now importing basic Libraries
import selenium
from selenium import webdriver
from selenium.webdriver import Chrome
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver = webdriver.Chrome(r'C:\Users\DELL\Downloads\chromedriver_win32\chromedriver.exe')

In [10]:
F_name=[]
arri=[]
dep=[]
st=[]
pri=[]

In [65]:
## entering the website to the browser
driver.get("https://www.makemytrip.com/")

In [66]:
driver.find_element_by_xpath("//*[@id='root']/div/div[2]/div/div/div[2]/div[1]/div[2]").click()
time.sleep(2) 
driver.find_element_by_xpath("//*[@id='react-autowhatever-1-section-1-item-8']").click()
time.sleep(2) 
driver.find_element_by_xpath("//*[@id='root']/div/div[2]/div/div/div[2]/div[1]/div[3]/div[1]/div/div/div/div[2]/div/div[2]/div[1]/div[3]/div[4]/div[2]").click()
time.sleep(2) 
driver.find_element_by_xpath("//*[@id='root']/div/div[2]/div/div/div[2]/p/a").click()

In [67]:
time.sleep(3) 
last_height = driver.execute_script("return window.scrollY")
elll=[]
while True:
    driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
    time.sleep(2)    
    new_height = driver.execute_script("return window.scrollY")
    if new_height == last_height:
         break 
    last_height = new_height
for i in driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']"):
    F_name.append(i.text) 
for i in driver.find_elements_by_xpath("//div[@class='makeFlex flex-column flightTimeInfo']"):
    arri.append(i.text.split("\n"))
for i in driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']"):
    st.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='textRight flexOne']"):
    pri.append(i.text)

In [68]:
driver.find_element_by_xpath("//*[@id='1']/div/div[2]").click()   
time.sleep(3)
last_height = driver.execute_script("return window.scrollY")
elll=[]
while True:
    driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
    time.sleep(2)    
    new_height = driver.execute_script("return window.scrollY")
    if new_height == last_height:
         break 
    last_height = new_height
for i in driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']"):
    F_name.append(i.text) 
for i in driver.find_elements_by_xpath("//div[@class='makeFlex flex-column flightTimeInfo']"):
    arri.append(i.text.split("\n"))
for i in driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']"):
    st.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='textRight flexOne']"):
    pri.append(i.text)

In [69]:
try:
    for i in range(3,30):
        driver.back()
        time.sleep(2)
        driver.find_element_by_xpath("//*[@id='1']/div/div" + str([i])).click()   
        time.sleep(3)
        last_height = driver.execute_script("return window.scrollY")
        elll=[]
        while True:
            driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
            time.sleep(2)    
            new_height = driver.execute_script("return window.scrollY")
            if new_height == last_height:
                break 
            last_height = new_height
        for i in driver.find_elements_by_xpath("//span[@class='boldFont blackText airlineName']"):
            F_name.append(i.text) 
        for i in driver.find_elements_by_xpath("//div[@class='makeFlex flex-column flightTimeInfo']"):
            arri.append(i.text.split("\n"))
        for i in driver.find_elements_by_xpath("//p[@class='flightsLayoverInfo']"):
            st.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='textRight flexOne']"):
            pri.append(i.text)
except:
    pass

In [79]:
len(source)

1721

In [77]:
source = arri[0:3442:2]
destination =arri[1:3442:2]

In [80]:
arrival_time=[]   
for i in range(0,1721):
    a=source[i][0]
    arrival_time.append(a) 
len(arrival_time)

1721

In [82]:
Flight_source=[]   
for i in range(0,1721):
    a=source[i][1]
    Flight_source.append(a) 
len(Flight_source)

1721

In [83]:
departure_time=[]   
for i in range(0,1721):
    a=destination[i][0]
    departure_time.append(a) 
len(departure_time)

1721

In [84]:
flight_destination=[]   
for i in range(0,1721):
    a=destination[i][1]
    flight_destination.append(a) 
len(flight_destination)

1721

In [101]:
flight=[]
arr =[]
stp=[]
sou_name=[]
desti_name=[]
price=[]

In [115]:
## entering the website to the browser
driver.get("https://www.flipkart.com/travel/flights")

In [116]:
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/div[1]/div[1]/div[1]/div[1]/input").click()
time.sleep(1)
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/div[1]/div[1]/div[1]/div[2]/div/div[13]").click()
time.sleep(1)
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/div[1]/div[3]/div[1]/div[1]/input").click()
time.sleep(1)
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/div[1]/div[3]/div[1]/div[2]/div/div[11]").click()
time.sleep(1)
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/div[3]/div[1]/div[2]/div/div/div/div/table[1]/tbody/tr[4]/td[2]/div/button").click()
time.sleep(1)
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div[1]/div/div[2]/div/div[2]/form/div/button").click()

In [117]:
sour=[]
dest=[]
clone=[]
time.sleep(3) 
last_height = driver.execute_script("return window.scrollY")
elll=[]
while True:
    driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
    time.sleep(2)    
    new_height = driver.execute_script("return window.scrollY")
    if new_height == last_height:
         break 
    last_height = new_height
for i in driver.find_elements_by_xpath("//div[@class='ZLipHt']/span[1]"):
    flight.append(i.text) 
    clone.append(i.text) 
for i in driver.find_elements_by_xpath("//div[@class='_2g-pkx']"):
    arr.append(i.text.split("\n"))
for i in driver.find_elements_by_xpath("//div[@class='_2-kTRm']/span[2]"):
    stp.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3uUoiD']"):
    price.append(i.text)
for i in driver.find_elements_by_xpath("//*[@id='container']/div/div[2]/div/div[2]/div[2]/div[3]/div/div[1]/div[1]/div/div[1]/span[1]"):
    sour.append(i.text) 
for i in driver.find_elements_by_xpath("//*[@id='container']/div/div[2]/div/div[2]/div[2]/div[3]/div/div/div[1]/div/div[1]/span[2]"):
    dest.append(i.text) 
#<span class="_271Zih">Kolkata </span>

In [118]:
driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div/div[2]/div[2]/div[3]/div/div[1]/div[1]/div/div[2]/div[2]/div[2]").click()   
time.sleep(3)
last_height = driver.execute_script("return window.scrollY")
elll=[]
while True:
    driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
    time.sleep(2)    
    new_height = driver.execute_script("return window.scrollY")
    if new_height == last_height:
         break 
    last_height = new_height
for i in driver.find_elements_by_xpath("//div[@class='ZLipHt']/span[1]"):
    flight.append(i.text) 
    clone.append(i.text) 
for i in driver.find_elements_by_xpath("//div[@class='_2g-pkx']"):
    arr.append(i.text.split("\n"))
for i in driver.find_elements_by_xpath("//div[@class='_2-kTRm']/span[2]"):
    stp.append(i.text)
for i in driver.find_elements_by_xpath("//div[@class='_3uUoiD']"):
    price.append(i.text)

In [119]:
try:
    for i in range(3,30):
        driver.back()
        time.sleep(2)
        driver.find_element_by_xpath("//*[@id='container']/div/div[2]/div/div[2]/div[2]/div[3]/div/div[1]/div[1]/div/div[2]/div[2]/div" + str([i])).click()   
        time.sleep(3)
        last_height = driver.execute_script("return window.scrollY")
        elll=[]
        while True:
            driver.execute_script("window.scrollTo(0, window.scrollY + window.innerHeight);")
            time.sleep(2)    
            new_height = driver.execute_script("return window.scrollY")
            if new_height == last_height:
                break 
            last_height = new_height
        for i in driver.find_elements_by_xpath("//div[@class='ZLipHt']/span[1]"):
            flight.append(i.text)
            clone.append(i.text) 
        for i in driver.find_elements_by_xpath("//div[@class='_2g-pkx']"):
            arr.append(i.text.split("\n"))
        for i in driver.find_elements_by_xpath("//div[@class='_2-kTRm']/span[2]"):
            stp.append(i.text)
        for i in driver.find_elements_by_xpath("//div[@class='_3uUoiD']"):
            price.append(i.text)
except:
    pass

In [120]:
b=sour*len(clone)
for i in b:
    sou_name.append(i)
len(sou_name)

2215

In [121]:
a=dest*len(clone)
for i in a:
    desti_name.append(i)
len(desti_name)

2215

In [122]:
len(arr)

4450

In [123]:
arr_time=arr[0:4450:2]
dep_time=arr[0:4450:2]

In [ ]:
airlines = F_name + flight
Arrival_time = arrival_time + arr_time
Departure_time =departure_time + dep_time
Stops = st + stp
Source = Flight_source + sou_name
Destination = flight_destination + desti_name

In [130]:
print(len(F_name), len(arrival_time),len(departure_time),len(st),len(Flight_source), len(pri),len(flight_destination))

1721 1721 1721 1727 1721 1721 1721

In [131]:
print(len(flight), len(arr_time),len(dep_time),len(stp),len(sou_name), len(price),len(desti_name))

2215 2215 2215 2215 2215 2215 2215

In [129]:
arr_time=arr_time[0:2215]
dep_time=dep_time[0:2215]
stp=stp[0:2215]
price=price[0:2215]
pri=pri[0:1721]

In [132]:
airlines = F_name + flight
Arrival_time = arrival_time + arr_time
Departure_time =departure_time + dep_time
Stops = st + stp
Source = Flight_source + sou_name
Destination = flight_destination + desti_name
Price=pri+ price

In [135]:
print(len(airlines), len(Arrival_time),len(Departure_time),len(Stops),len(Source), len(Destination),len(Price))

3936 3936 3936 3936 3936 3936 3936

In [134]:
Stops=Stops[0:3936]

In [136]:
import pandas as pd

In [138]:
df=pd.DataFrame({"airlines":airlines,'Arrival_time':Arrival_time,"Departure_time":Departure_time,"Stops":Stops,"Source":Source,"Destination":Destination,"Price":Price})

In [139]:
df.head()

,airlines,Arrival_time,Departure_time,Stops,Source,Destination,Price
0,IndiGo,02:30,05:25,Non stop,New Delhi,Bengaluru,"₹ 8,160"
1,IndiGo,04:15,07:10,Non stop,New Delhi,Bengaluru,"₹ 8,160"
2,SpiceJet,05:25,08:05,Non stop,New Delhi,Bengaluru,"₹ 8,160"
3,Go First,05:45,08:40,Non stop,New Delhi,Bengaluru,"₹ 8,160"
4,Vistara,05:55,08:40,Non stop,New Delhi,Bengaluru,"₹ 8,160"

In [154]:
df.to_excel("flight.xlsx")

In [153]:
df['Price'] = df['Price'].str.replace('₹ ', '')
df['Price'] = df['Price'].str.replace(',', '')
#df['Price'] = df['Price'].str.replace('₹ ', '')

,airlines,Arrival_time,Departure_time,Stops,Source,Destination,Price
0,IndiGo,02:30,05:25,Non stop,New Delhi,Bengaluru,8160
1,IndiGo,04:15,07:10,Non stop,New Delhi,Bengaluru,8160
2,SpiceJet,05:25,08:05,Non stop,New Delhi,Bengaluru,8160
3,Go First,05:45,08:40,Non stop,New Delhi,Bengaluru,8160
4,Vistara,05:55,08:40,Non stop,New Delhi,Bengaluru,8160
...,...,...,...,...,...,...,...
3931,Vistara,[09:45],[09:45],1 stop - PNQ,New Delhi,Bangalore,₹20340
3932,Air Asia,[12:00],[12:00],1 stop - BOM,New Delhi,Bangalore,₹20723
3933,Vistara,[17:15],[17:15],1 stop - BOM,New Delhi,Bangalore,₹21023
3934,Vistara,[09:45],[09:45],1 stop - BOM,New Delhi,Bangalore,₹21023
3935,Vistara,[07:10],[07:10],1 stop - HYD,New Delhi,Bangalore,₹21023